// Estilização para o cabeçalho
header {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  
  // Estilização para o cartão (card)
  .card {
    background-color: #a8b4d6;
    border: 1px solid #ddd;
    padding: 20px;
    margin: 0 auto;
    max-width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .input {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  // Estilização para os campos de entrada (inputs)
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  // Estilização para o botão de envio (submit button)
  .btn-primary {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  // Estilização para a tabela
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  // Estilização para as células da tabela
  th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  // Estilização para os botões dentro das células da tabela
  .btn-success, .btn-danger {
    padding: 5px 10px;
    margin-right: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-success {
    background-color: #28a745;
    color: white;
  }
  
  .btn-danger {
    background-color: #dc3545;
    color: white;
  }
  